// Ideally, variables should be initialized in a partial. We're setting
// variables here to make the mixin usage more transparent.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

// Import Zen Grids.
@import "zen";

$zen-column-count: 12;
$zen-gutter-width: 20px;

/* general layout */
#header,
#introduction,
#main,
#footer {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 1140px;
}

#main {
  @include zen-grid-container();
}

/* 480px - 639px */
@media all and (min-width: 480px) and (max-width: 639px) {
  $zen-column-count: 1;

  #content {
    @include zen-grid-item(1, 1);
  }
  #aside1 {
    @include zen-clear(); // Clear left-floated elements (#content)
    @include zen-grid-item(1, 1);
  }
}

/* 800px - 959px */
@media all and (min-width: 800px) {
  #content,
  #aside1,
  .footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    &.blog-footer {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
  .blog-overview #content {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
