/* variables */

$black: #000;
$text-dark: #333;
$text-main: #555;
$text-light: #fff;
$red: #ff0000;
$background-color: #fafafa;

$font: calibri, sans-serif;
$font-serif: "Times New Roman", garamond, georgia, serif;

// 115% capital letter

@import "compass";
@import "common";
@import "layout";

/* common */
body
{
  margin: 0;
  color: $text-dark;
  background: url('../images/design/bg-black.jpg') top center repeat $black;
  font-family: $font-serif;
  font-size: 100%;
}

h1,
h2 {
  color: $text-light;  
}

/* Header */

.header-wrapper {
  /* background: url('../images/design/header-bg.jpg') top center repeat-x #000; */
  background-color: $black;

  -webkit-box-shadow: 0px 0px 10px 0px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 0px 0px 10px 0px #000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

/* Header & footer */
#header,
#introduction,
#footer {
  color: $text-light;
  padding: 0 10px;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }  
}

/* Logo */

#logo {
  float: left;
  width: 112px;
  height: 70px;
  margin: 7px 0 0 0;
  background: url("/images/design/header-logo.jpg") 0 0 no-repeat transparent;
  &:hover {
    background-position: 0px -70px;
  }
}

#logo-name
{
  float: left;
}

/* Introduction */

.introduction-wrapper {
  background: url('../images/design/bg-black-top.jpg') top center repeat-x transparent;
  #introduction {
    #front-logo-wrapper {
      margin: 0 auto;
      max-width: 40%;
      min-width: 100px;
      #front-logo img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
    #front-drawing img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }    
    #introduction-summary {
      @include zen-grid-container();
      $zen-column-count: 2;
      .item-1 {
        @include zen-grid-item(1, 1);
      }
      .item-2 {
        @include zen-grid-item(1, 2);
      }
      .item-3 {
        @include zen-clear();
        @include zen-grid-item(1, 1);
      }
      .item-4 {
        @include zen-grid-item(1, 2);
      }
      .item {

        .item-inner {
          margin: 0 0 25px 30px;
          h2 {
            margin: 10px 0;
            color: #eee;
            font-size: 150%;
            font-style: italic;
            line-height: 120%;
            &:first-letter {
              font-size: 140%; // 30px
            }
          }
          .p-indent {
            float: left;
            height: 87px;
            width: 55px;
            img {
              float: left;
              position: relative;
              left: -35px;
              width: 87px;
              height: 87px;
            }
          }
          p {
            color: #b2b2b2;
            font-size: 105%;
            font-style: italic;
            margin: 5px 0 0;            
          }
        }
      }
    }
  }
}

/* from 799px */
@media all and (min-width: 799px) {
  .introduction-wrapper #introduction #introduction-summary {
    @include zen-grid-container();
    $zen-column-count: 4;
    .item-1 {
      @include zen-grid-item(1, 1);
    }
    .item-2 {
      @include zen-grid-item(1, 2);
    }
    .item-3 {
      @include zen-clear(none);
      @include zen-grid-item(1, 3);
    }
    .item-4 {
      @include zen-grid-item(1, 4);
    }
  }
}


/* Main menu */

#main-menu
{
  float: right;
  padding: 4px;
  a {
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    padding: 16px 20px;
    display: inline-block;
    // border-radius: 5px;
    // background-color: #ff0000;
    font-family: "Times new roman", georgia, serif;
    text-decoration: none;
    color: $text-light;
    font-size: 24px;
    font-style: italic;

    text-shadow: 2px 2px 2px #333;

    // temp
    font-style: italic;
    letter-spacing: 1px;
    margin: 0 0 0 0;
    padding: 22px 25px 22px 30px;

    &:first-letter {
      font-size: 115%; // 28px
      font-style: normal;
    }
    &:hover, &:active {
      background-color: #a80008;
      @include filter-gradient(#a80008, #ff585e, horizontal);
      @include background-image(linear-gradient(left bottom,  #a80008 0%,#ff585e 100%));
    }

  }
}

/* Main */

#main {
  color: $text-light;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 120%;
  #content {
    p {
      line-height: 22px;
    }
  }
}

ul#blog-overview {
  a {
    color: $text-main;
    font-size: 1.1em;
    &:hover {
      color: $red;    
    }
  }
}

/* Footer */

.footer-wrapper {
  background-color: $black;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* External links */

#external {
  float: right;
  height: 80px;
  a {
    float: left;
    width: 60px;
    height: 70px;
    margin: 0 0 0 20px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    &.drupal-association {

    }
    &.drupal {

    }
    &.github {

    }
    &.twitter {

    }
  }
}

