@import "common";
@import "layout";

/* common */
body
{
  margin: 0;
  color: #fff;  
  
}

/* Header */

.header-wrapper {
  background-color: #000;
}

#header,
#footer {
  padding: 0 10px;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }  
}

/* Logo */

#logo {
  float: left;
  width: 112px;
  height: 70px;
  margin: 0 10px 0 0;
  background: url("/images/design/header-logo.jpg") 0 0 no-repeat transparent;
  &:hover {
    background-position: 0px -70px;
  }
}

#logo-name
{
  float: left;
}

/* Main menu */

#main-menu
{
  float: right;  
  a {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    border-radius: 5px;
  }
}

/* Main */

.main-wrapper
{
  background-color: #fafafa;
  color: #333;
}

/* Footer */

.footer-wrapper {
  background-color: #000;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* External links */

#external {
  float: right;
  a {
    display: inline-block;
    width: 60px;
    margin: 0 0 0 20px;

    img {
      width: 100%;
    }
    &.drupal-association {

    }
    &.drupal {

    }
    &.github {

    }
    &.twitter {

    }
  }
}

