@import "common";
@import "layout";

/* common */
body
{
  margin: 0;
  color: #333;  
  background-color: #fafafa;
}

h1,
h2 {
  color: #333;  
}

/* Header */

.header-wrapper {
  background-color: #000;
}

/* Header & footer */
#header,
#footer {
  color: #fff;
  padding: 0 10px;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }  
}

/* Logo */

#logo {
  float: left;
  width: 112px;
  height: 70px;
  margin: 0 10px 0 0;
  background: url("/images/design/header-logo.jpg") 0 0 no-repeat transparent;
  &:hover {
    background-position: 0px -70px;
  }
}

#logo-name
{
  float: left;
}

/* Main menu */

#main-menu
{
  float: right;  
  a {
    float: left;
    margin: 0 0 0 10px;
    padding: 16px 20px;
    display: inline-block;
    border-radius: 5px;
    background-color: #ff0000;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-style: italic;
  }
}

/* Main */

#main {
  color: #555;
  
  #content {
    p {
      line-height: 22px;
    }
  }
}

.demo {
  padding: 10px 15px;
  background-color: red;
}

.gist-code {
  
}

.gist {
  width: 100%;
}

ul#blog-overview {
  a {
    color: #555;
    font-size: 1.1em;
    &:hover {
      color: #ff0000;    
    }
  }
}

/* Footer */

.footer-wrapper {
  background-color: #000;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* External links */

#external {
  float: right;
  height: 80px;
  a {
    float: left;
    width: 60px;
    height: 70px;
    margin: 0 0 0 20px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    &.drupal-association {

    }
    &.drupal {

    }
    &.github {

    }
    &.twitter {

    }
  }
}

