<!-- external links -->
<nav id="external">
  <a href="http://drupal.org/user/392988" title="Drupal" rel="external" class="drupal" target="_blank">
    <img src="/images/design/druplicon-120.png" alt="Drupal" />
  </a>
  <a href="https://github.com/DannyJoris" title="GitHub" rel="external" class="github" target="_blank">
    <img src="/images/design/octocat-120.png" alt="GitHub" />
  </a>
  <a href="https://twitter.com/dannyjoris" title="Twitter" rel="external" class="twitter" target="_blank">
    <img src="/images/design/twitter-120.png" alt="Twitter" />
  </a>
</nav>