<!-- external links -->
<nav id="external">
  <a href="https://ca.linkedin.com/in/dannyjoris" rel="external" class="linkedin" target="_blank">
    <img src="/images/design/linkedin-120.png" alt="LinkedIn" />
  </a>
  <a href="http://drupal.org/user/392988" rel="external" class="drupal" target="_blank">
    <img src="/images/design/druplicon-120.png" alt="Drupal" />
  </a>
  <a href="https://github.com/DannyJoris" rel="external" class="github" target="_blank">
    <img src="/images/design/octocat-120.png" alt="GitHub" />
  </a>
  <a href="https://twitter.com/dannyjoris" rel="external" class="twitter" target="_blank">
    <img src="/images/design/twitter-120.png" alt="Twitter" />
  </a>
  <a href="https://codepen.io/DannyJoris/" rel="external" class="codepen" target="_blank">
    <img src="/images/design/codepen-120.png" alt="Codepen" />
  </a>
</nav>
