<div id="front-logo-wrapper">
  <div id="front-logo">
    <img src="/images/design/front-logo.png">
  </div>
</div>
<div id="front-drawing">
  <img src="/images/design/front-drawing.png">
</div>
<div id="introduction-summary">
  <div class="item item-1">
    <div class="item-inner">
      <h2>Drupal</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>I build websites using Drupal. Drupal is a powerful open-source content management system (cms) which allows you to build websites ranging from small personal blogs to large corporate or political sites, like whitehouse.gov.</p>
    </div>
  </div>
  <div class="item item-2">
    <div class="item-inner">
      <h2>Site building</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>I build websites using Drupal. Drupal is a powerful open-source content management system (cms) which allows you to build websites ranging from small personal blogs to large corporate or political sites, like whitehouse.gov.</p>
    </div>
  </div>
  <div class="item item-3">
    <div class="item-inner">
      <h2>Theming</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>I build websites using Drupal. Drupal is a powerful open-source content management system (cms) which allows you to build websites ranging from small personal blogs to large corporate or political sites, like whitehouse.gov.</p>
    </div>
  </div>
  <div class="item item-4">
    <div class="item-inner">
      <h2>Development</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>I build websites using Drupal. Drupal is a powerful open-source content management system (cms) which allows you to build websites ranging from small personal blogs to large corporate or political sites, like whitehouse.gov.</p>
    </div>
  </div>
</div>