<div id="front-graphics">
  <div id="front-logo-wrapper">
    <div id="front-logo">
      <img src="/images/design/front-logo.png">
    </div>
  </div>
  <div id="front-drawing">
    <img src="/images/design/front-drawing.png">
  </div>
</div>
<div id="introduction-summary">
  <div class="item item-1">
    <div class="item-inner">
      <h2>Drupal</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>
        I build websites using Drupal. Drupal is a powerful open-source content 
        management system (cms) which allows you to build websites ranging from 
        small personal blogs to large corporate or political sites, like 
        whitehouse.gov.
      </p>
    </div>
  </div>
  <div class="item item-2">
    <div class="item-inner">
      <h2>Site building</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-tools.png">
        </div>
      </div>
      <p>
        Drupal enables you to build complex websites very fast and 
        cost-effectively. While it is important to know and use the right 
        modules, it is also good to know when to write your own module to keep 
        your site lean and maintainable.
      </p>
    </div>
  </div>
  <div class="item item-3">
    <div class="item-inner">
      <h2>Theming</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-html5.png">
        </div>
      </div>
      <p>
        When building themes in Drupal I aim to provide pixel perfect 
        implementation of designs with clean markup and css. I make sure your 
        design shines across all browsers and devices, while keeping a high
        priority on performance.
      </p>
    </div>
  </div>
  <div class="item item-4">
    <div class="item-inner">
      <h2>Development</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-gear.png">
        </div>
      </div>
      <p>
        I provide front and back-end Drupal development services. Besides 
        writing efficient code this means working with many Drupal components 
        such as the Drupal API, forms API, theme layer, Drupal coding standards 
        and more.
      </p>
    </div>
  </div>
</div>