<div id="front-graphics">
  <div id="front-logo-wrapper">
    <div id="front-logo">
      <img src="/images/design/front-logo.png">
    </div>
  </div>
  <div id="front-drawing">
    <img src="/images/design/front-drawing.png">
  </div>
</div>
<div id="introduction-summary">
  <div class="item item-1">
    <div class="item-inner">
      <h2>Drupal</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-drupal.png">
        </div>
      </div>
      <p>
        I build websites using Drupal, a powerful open-source content management
        system (cms). Drupal enables the development of websites ranging from 
        small personal blogs to large corporate or political sites, like 
        whitehouse.gov.
      </p>
    </div>
  </div>
  <div class="item item-2">
    <div class="item-inner">
      <h2>Site building</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-tools.png">
        </div>
      </div>
      <p>
        Drupal enables complex websites to be created quickly and
        cost&shy;effectively. I find the right balance between using appropriate
        existing modules and building custom modules when necessary in order to
        keep your site lean and maintainable.
      </p>
    </div>
  </div>
  <div class="item item-3">
    <div class="item-inner">
      <h2>Theming</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-html5.png">
        </div>
      </div>
      <p>
        When creating themes in Drupal, I aim to provide pixel perfect
        implementation of designs with clean markup and css. I make sure your
        design shines across all browsers and devices, while placing strong
        emphasis on performance.
      </p>
    </div>
  </div>
  <div class="item item-4">
    <div class="item-inner">
      <h2>Development</h2>
      <div class="p-indent">
        <div class="drupal-img illustration">
          <img src="/images/design/front-gear.png">
        </div>
      </div>
      <p>
        I provide front and back-end Drupal development services. In addition to
        writing efficient code, this also means working with many Drupal
        components such as Drupal API, forms API, theme layer, Drupal coding
        standards and more.
      </p>
    </div>
  </div>
</div>