{% if site.work != NULL %}
  <ul id="freelance-selected-work">
    {% for item in site.work %}
      <li class="work {{ item.name }}">
        <div class="title">{{ item.title }}<div class="marker" color="{{ item.color }}"></div></div>
        <div class="content closed">
          {% if item.images %}
            <div class="viewer">
              <div class="flexslider">
                <ul class="slides">
                  {% for image in item.images %}
                    <li>
                      <img alt="{{ image }}" path="images/work/{{ image }}" class="hidden">
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if item.meta %}
            <ul class="meta">
              {% for meta in item.meta %}
                <li>{{ meta }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if item.url and item.url-title %}
            <div class="visit">Visit: <a href="{{ item.url }}" title="{{ item.title }}" rel="nofollow" target="_blank">{{ item.url-title }}</a></div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}