---
layout: blog-overview
title: Blog
description: An overview of all blog posts.
---
<ul class="blog-posts">
{% for post in site.posts %}
<li>
  <a href="{{post.url}}" title="{{post.title}}">
    <span class="blog-overview-thumbnail">
      {% if post.tn %}
        <img src="/images/blog/{{ post.tn }}" alt="Thumbnail" />
      {% else %}
        <img src="/images/blog/sample-tn.jpeg" alt="Thumbnail" />
      {% endif %}
    </span>
    <span class="blog-overview-title">{{post.title}}</span>
  </a>
</li>
{% endfor %}
</ul>