---
layout: blog-overview
title: Blog

description: An overview of blog posts.
summary: Blog posts overview.
---
<ul class="blog-posts">
{% for post in site.posts %}
<li>
  <a href="{{post.url}}" title="{{post.title}}">
    <span class="blog-overview-thumbnail">
      {% if post.tn %}
        <img src="/images/blog/{{ post.tn }}" alt="Thumbnail" />
      {% else %}
        <img src="/images/blog/sample-tn.jpeg" alt="Thumbnail" />
      {% endif %}
    </span>
    <span class="blog-overview-title">{{post.title}}</span>
  </a>
</li>
{% endfor %}
</ul>
<!--
{% if site.categories.sample %}
  <h2>Sample</h2>
  <div class="sample">
    {% for item in site.categories.sample %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
    {% endfor %}
  </div>
{% endif %}

{% if site.categories.example %}
  <h2>Example</h2>
  <div class="example">
    {% for item in site.categories.example %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
    {% endfor %}
  </div>
{% endif %}
-->