---
layout: html
---
<div class="wrapper main-wrapper">
  <div id="main">
    <!-- content -->
    <article id="content" class="blog-post" role="main">
      <header>
        <h1>{{ page.title }}</h1>
        <span class="date">{{ page.date | date: "%B %d %Y" }}</span>
      </header>
      {{ content }}
      {% include disqus.html %}
    </article>
    <!-- aside 1 -->
    <aside id="aside1">
      <a href="/blog" title="Back to blog overview.">← All blog posts</a>
    </aside>
  </div>
</div>