---
layout: html
---
<div class="header-wrapper">
  {% include header.html %}
</div>
<div class="main-wrapper">
  <div id="main">
    {% include nav.html %}
    <!-- content -->
    <article id="content" role="main">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
    <!-- aside 1 -->
    <aside id="aside1">
      <header>
        <h2>Aside 1</h2>
      </header>
      <p>Lorem ipsum.</p>
    </aside>
    <!-- aside 2 -->
    <aside id="aside2">
      <header>
        <h2>Aside 2</h2>
      </header>
      <p>Lorem ipsum.</p>
    </aside>
  </div>
</div>
<div class="footer-wrapper">
  {% include footer.html %}
</div>