---
layout: html
---
<div class="wrapper introduction-wrapper">
  <div class="introduction-wrapper-inner">
    <!-- introduction -->
    <div id="introduction">
      {% include introduction.html %}
    </div>
  </div>
</div>
<div class="wrapper main-wrapper">
  <div id="main">
    <!-- content -->
    <article id="content" role="main">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
    <!-- aside 1 -->
    <aside id="aside1">
      <a href="http://drupal.org/user/392988" title="Drupal association" rel="external" class="drupal-association" target="_blank">
        <img src="/images/design/DA-individual-150-2014.png" alt="Drupal association" />
      </a>
    </aside>
  </div>
</div>