<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8 />
    <title>{% if page.title %} {{ page.title }} | {% endif %} Site title</title>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/print.css" media="print" type="text/css" />
    <!--[if IE]><link rel="stylesheet" href="/css/ie.css" media="screen, projection" type="text/css" /><![endif]-->
  </head>
  <body>
    {{ content }}
  </body>
</html>